<style type="text/css">
.scroll {
  margin     : auto;
  width      : 96%;
  font-size  : 140%;
  line-height: 1.5em;
  text-align : left;
  border     : 1px solid #666;
  color      : #000000;
  background : #fff;
  overflow   : hidden;
}
.scroll span{
  display     : inline-block;
  white-space : nowrap;
  line-height : 1em;
  animation   : scrollAnime 3s linear infinite alternate;
}
@keyframes scrollAnime{
    0% {
        margin-left: 100%;
        transform  : translateX(-100%)
       }
  100% {
        margin-left: 0;
        transform  : translateX(0)
       }
}
</style>
